[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
tmplot = {editable = true, path = "."}

[dev-packages]
pysen = "~=0.10"
flake8 = "*"
flake8-bugbear = "*"
black = "*"
isort = "*"
mypy = "*"

[scripts]
fmt = "pysen run format"
lint = "pysen run lint"
# [requires]
# python_version = ">=3.7"
